<%= form_for(@tag_relationship) do |f| %>
  <% if @tag_relationship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag_relationship.errors.count, "error") %> prohibited this tag_relationship from being saved:</h2>

      <ul>
      <% @tag_relationship.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
