<div class="col-lg-6" style="padding: 15px 15px 0 15px;">
  <div class="well sponsor">
    <% # Foreman Statistics Partial View %>
    <p>Foreman Statistics Placeholder2</p>
    <p>Foreman Statistics Placeholder</p>
  </div>
</div>